/**
 * ARWAI Openseadragon-Annotorious
 *
 * Frontend public styles
 */

/*
 * CSS for the on-canvas annotation label.
 */


/***********
 * CSS for the on-canvas ANNOTATION ID LABEL.
 ***********/

.a9s-annotation foreignObject {
    /* Make the container visible even if its size is 0x0 */
    overflow: visible;
    /* Force some browsers to render the object by giving it a tiny size */
    width: 1px;
    height: 1px;
}

.a9s-annotation foreignObject label {
    display:inline-block;
    padding:2px 10px;
}   

/* Styling for the default label itself */

.a9s-annotation label {
    transform:translateY(-100%) translateY(-1px) translateX(-2px);
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color:rgba(0, 0, 0, 1);   
    padding: 4px 8px;
    border-width:4px 4px 0 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.a9s-annotation .a9s-inner {
    stroke-width: 4px;
    stroke:rgb(255, 255, 255);
    fill:rgba(95, 95, 95, 0.2);
}

.a9s-annotation .a9s-inner:hover {
stroke-width: 4px;
stroke:rgb(255, 255, 255);         
fill:rgba(255, 255, 255, 0.512);

}



/***********
* CSS for the on-canvas ANNOTATION ID LABEL WITH TAGS.
***********/

.a9s-annotation.tagged label {
    border-color:#00a4cb;
    background-color:#00a4cb;
    color:rgb(255, 255, 255);   

}

.a9s-annotation.tagged .a9s-inner {
    stroke-width:4px;
    stroke:#00a4cb;
    fill:rgba(0, 164, 203, 0.2);
    /* -webkit-filter:drop-shadow(0 0 10px #00a4cb);
            filter:drop-shadow(0 0 10px #00a4cb)); */
}

.a9s-annotation.tagged .a9s-inner:hover {
    stroke-width:4px;
    stroke:#00a4cb;
    fill:rgba(0, 164, 203, 0.5);
}

/***********
* CSS for Tag => "IMPORTANT" 
***********/

.a9s-annotation.important .a9s-inner {
    stroke-width:2px;
    stroke:blue;
    fill:rgba(0,0,255,0.1);
    -webkit-filter:drop-shadow(0 0 10px rgba(0,0,255,0.8));
            filter:drop-shadow(0 0 10px rgba(0,0,255,0.8));
}

.a9s-annotation.important .a9s-inner:hover {
    stroke-width:6px;
    stroke:blue;
    fill:rgba(0,0,255,0.3);
}
